.scrollbar {
  background-color: 'red';
}

&[data-orientation='vertical'] .thumb {
  background-color: 'red';
}

&[data-orientation='horizontal'] .thumb {
  background-color: 'blue';
}

.corner {
  background-color: 'red';
  opacity: 1;
}
